@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  transition: all .2s;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --black-2: #202026;
  --black-3: #100E17;
  --white: #fff;
  --blue: #2196F3;
}

//-------------------------------- Header
.header.active {
  background-color: var(--black-2);
}
.header {
  
  background-color: transparent;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      list-style: none;
      a {
        color: var(--white);
        text-decoration: none;
        display: block;
        margin-left: 50px;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        &:hover {
          color: var(--blue);
        }
      }
      .active {
        border-bottom: 1px solid var(--white);
      }
    }
    .header__logo {
      flex: 1;
      img {
        max-width: 150px;
      }
    }
  }
}
//-------------------------------- End Header

//-------------------------------- Home Page
.home {
  background: url('./assets/bg-home.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  &__hello {
    background-color: var(--blue);
    font-size: 14px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    font-weight: 500;
    padding: 8px 30px;
    display: inline-block;
    margin-bottom: 15px;
  }
  &__name {
    font-size: 60px;
    font-weight: 500;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__job {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  &__info {
    li {
        list-style-type: none;
      a {
        color: var(--white);
        font-size: 14px;
        text-decoration: none;
        margin: 10px 0;
        display: block;
        i {
          width: 20px;
          display: inline-block;
          margin-right: 15px;
        }
        &:hover {
          color: var(--blue);
        }
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    margin-top: 30px;
    li {
      list-style: none;
      a {
        display: block;
        margin-right: 25px;
        color: var(--white);
        &:hover {
          color: var(--blue);
        }
      }
    }
  }
  .avatar {
    border: 20px solid var(--black-2);
    display: inline-block;
    border-radius: 50%;
    img {
      border-radius: 50%;
      max-width: 320px;
      border: 20px solid rgba(0, 0, 0, 0.4);

    }
  }
}


//-------------------------------- End Home Page

//-------------------------------- Blog Page
.blog {
  display: flex;
  flex-direction: column;
  align-content:stretch;
  height:100vh;
  &__title {
    padding-top: 70px;
    background: url('./assets/bg-blog.jpg') no-repeat center center;
    background-size: cover;
   // min-height: 100vh;
   padding: 70px 0;
   h1 {
     text-transform: uppercase;
     color: var(--white);
     text-align: center;
     font-size: calc(1.5rem + 1.5vw);
     margin: 0;
   }
  }
  &__list {
    flex: 1;
    background-color: var(--black-3);
    padding: 60px 0;
    .blog__item {
      background-color: #202026;
      color: var(--white);
      text-decoration: none;
      margin: 15px 0;
      .card-text {
        font-size: 14px;
        font-weight: 400;
      }
      .blog__btn--more {
        font-size: 14px;
        color: var(--blue);
      }
      &:hover {
        .card-body {
          .card-title {
            color: var(--blue);
          }
        }
      }
    }
  }
}

//-------------------------------- End Blog Page

//-------------------------------- About
.about {
  .about-me {
    background-color: var(--black-3);
    color: var(--white);
    padding: 120px 0 60px;
    img {
      max-width: 400px;
      width: 100%;
      height: auto;
    }
    &__content {
      h2 {
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
      }
      .about-me__cv {
        background-color: var(--blue);
        color: var(--white);
        text-decoration: none;
        font-size: 16px;
        padding: 10px 40px;
        border-radius: 25px;
        font-weight: 500;
        margin-top: 20px;
        display: inline-block;
        border: 2px solid var(--blue);
        i {
          margin-left: 10px;
        }
        &:hover {
          background-color: var(--black-3);
        }
      }
    }
  }


  .experience {
    background: url('./assets/bg-exp.jpg') no-repeat center center;
    background-size: cover;
    padding: 120px 0 60px;
    color: var(--white);
    h3 {
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    &__content {
      .experience__item {
        margin-bottom: 25px;
        padding: 26px 30px;
        border-radius: 4px;
        background-color: var(--black-2);
        h5 {
          font-size: 20px;
          a {
            color: var(--blue);
            text-decoration: none;
          }
        }
        .experience__year {
          font-size: 14px;
          color: var(--blue);
        }
        .experience__desc {
          font-size: 14px;
          ul {
            margin-left: 15px;
          }
        }
      }
    }
  }


  .skill {
    background-color: var(--black-3);
    color: var(--white);
    padding: 60px 0;
    h3 {
      margin-bottom: 15px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      span {
        background-color: var(--blue);
        color: var(--white);
        font-size: 15px;
        border-radius: 20px;
        padding: 5px 20px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
    img {
      max-width: 500px;
      width: 100%;
    }
  }

  .footer {
    background-color: var(--black);
    color: var(--white);
    p {
      text-align: center;
      padding: 12px 0;
      font-size: 13px;
      margin: 0;
    }
  }
}
//-------------------------------- End About